.classifier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: black;

  margin-top: 42px;

  &__input {
    display: flex;
    flex-direction: column;
    margin-top: 62px;

    p {
      color: black;
    }

    input {
      margin-top: 12px;
      color: grey;
    }
  }
  
  &__image {
    display: flex;
    flex-direction: column;

    margin-top: 42px;

    img {
      width: 400px;
      height: 400px;
    }

    button {
      margin-top: 12px;
      padding: 8px;
      background: white;
      border-radius: 6px;
    } 
  }

  &__results {
    margin-top: 20px;
    border: 2px solid rgb(218, 215, 215);
    height: 100px;
    width: 400px;
  }
}