.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-top: 60px;
    color: black;
  }

  .img {
    margin-top: 42px;
    border-radius: 6px;

    width: 400px;
    height: 400px;
  }

  .btn {
    margin-top: 12px;
    padding: 8px;
    background: white;
    border-radius: 6px;
  }
}